.sidebar {
  box-shadow: var(--box-shadow);
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
  width: 300px;

  @media (max-width: 1272px) {
    position: fixed;
    left: -107%;
    top: -15px;

    &._show {
      left: 0;
    }
  }

  @media (max-width: 1264px) {
  }

  @media screen and (max-width: 900px) {
    top: 100px;
  }

  @media screen and (max-width: 700px) {
    top: 100px;
  }
}
