:root {
  --red: #db261b;
  --pry-green: #008080;
  --lite-green: #d7ecec;
  --text-dark: #041942;
  --text-input: #b2b7bc;
  --fade: #f5f5f5;
  --text-primary: #333333;
  --main-bg: #f3f5fc;
  --white: #fff;
  --full: 100%;
  --radius: 2px;
  --box-shadow: inset -1px 0px 0px #e2e2ea;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
}
