.hero {
  margin-bottom: 30px;
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-primary);
  }
  .hero-text {
    display: flex;
    align-items: center;

    span {
      color: var(--pry-green);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
